# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*

# Permitir modelo sem senhas
!.env.example


# Arquivos gerados
StudyFlow/client/public/relatorios/*.pdf
StudyFlow/client/public/uploads/grupos/*