<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/barra-lateral.css">
    <title>Document</title>
</head>
<body>
    <aside class="sidebar">
    <div class="logo-area">
        <h2>StudyFlow</h2>
        <span>Calendário Inteligente</span>

        <button class="collapse-btn">
            ◀
        </button>
    </div>

    <nav class="menu">
        <a href="#" class="menu-item active">
            <i>📊</i>
            <span>Dashboard</span>
        </a>

        <a href="#" class="menu-item">
            <i>📅</i>
            <span>Calendário</span>
        </a>

        <a href="#" class="menu-item">
            <i>⏱️</i>
            <span>Pomodoro</span>
        </a>

        <a href="#" class="menu-item">
            <i>👥</i>
            <span>Grupos</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <div class="project-card">
            <p>TCC - Sistema de Organização Acadêmica</p>
        </div>

        <a href="#" class="logout">
            <i>↪</i>
            <span>Deslogar</span>
        </a>
    </div>
</aside>
</body>
</html>
