<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyFlow</title>

    <link rel="stylesheet" href="../css/barra-lateral.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <aside class="sidebar">
        <div>
          <div class="logo-area">
            <h2>StudyFlow</h2>
            <span>Calendário Inteligente</span>

            <button class="collapse-btn">◀</button>
          </div>

          <nav class="menu">
            <a href="pagina-inicial" class="menu-item active">
              <i class="fa-solid fa-graduation-cap"></i>
              <span>Tela-inicial</span>
            </a>

            <a href="calendario" class="menu-item">
              <i class="fa-solid fa-calendar"></i> <span>Calendário</span>
            </a>

            <a href="pomodoro0" class="menu-item">
              <i class="fa-solid fa-stopwatch"></i>
              <span>Pomodoro</span>
            </a>

            <a href="#" class="menu-item">
              <i class="fa-solid fa-users"></i> <span>Grupos</span>
            </a>
          </nav>
        </div>

        <div class="sidebar-footer">
          <a href="/usuarios/logout" class="logout">
            <i class="fa-solid fa-sign-out-alt"></i> <span>Deslogar</span>
          </a>
        </div>
      </aside>
      <script src="../js/barra-lateral.js"></script>
  </body>
  </header>
</html>
