<!-- importa o header -->
<%- include('../partials/header') %>
<!-- MAIN: com o conteudo da página -->
<main>
    <h1>estou na vitrine / interessado</h1>
</main>
<!-- Importa o footer -->
<%- include('../partials/footer') %>
